/* RESET/GLOBAL CONFIGURATION */
* {
    box-sizing: border-box;
}
html {
    overflow-y: auto;
}
body {
    background-color: #f1f1f1;
    min-height: 100vh;
}
/* END RESET/GLOBAL CONFIGURATION */

nav.navbar {
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.5)
}

.container {
    padding-top: 60px;
    height: 100%;
    padding: 60px 15px 0px;
}